@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  margin-top: 7%;
}

figure {
  background-color: rgb(255, 255, 255);
  text-align: center;

  width: 19.8em;
  height: 32em;
  border-radius: 20px;
  box-shadow: 0px 0px 3.6px rgba(0, 0, 0, -0.016),
    0px 0px 10px rgba(0, 0, 0, -0.015), 0px 0px 24.1px rgba(0, 0, 0, -0.007),
    0px 0px 80px rgba(0, 0, 0, 0.03);
}

img {
  margin-top: 0.9em;
  height: 19em;
  width: 18em;
  border-radius: 10px;
}

h1 {
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.textcontainer {
  margin: auto;
  height: 150px;
  width: 260px;
}

p {
  font-size: 15px;
  color: hsl(217, 34%, 48%);
  font-weight: 400;
}
